<Server port="8005" shutdown="SHUTDOWN">
  <Service name="Catalina">
    <Connector port="8080" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" debug="0" appBase="webapps" >
	<Context path="/devoxx" reloadable="true"  reload="true" 
	docBase="/media/documents/projets java/devoxxFr2012-2/devoxx-game/src/main/webapp" 
	workDir="/media/documents/projets java/devoxxFr2012-2/" debug="0"/>
      </Host>
    </Engine>
  </Service>
</Server>
