body {
	margin: 0;
	height: 100%;
	width: 100%;
	/*color: #ffffff;
	background-color: #1a1a1a;*/
	font-size: 14px;
	background: #f7f7f7 url(../img/bg.png) repeat-x;
}

.contentContainer {
	padding: 8px;
}

.center {
	margin: 0 auto;
}

.dlmenu {
	width: 300px;
}

.dlmenu dd,dt {
	padding: 5px;
}

.jtable {
	border-collapse: collapse;
}

.jtable th,.jtable td {
	padding: 4px;
	word-wrap: break-word;
}

#allUsersContainer {
	margin-top: 30px;
	width: 92%;
}

#allUsersContainer table { /*table-layout: fixed; */
	width: 100%;
	margin-bottom: 8px;
	text-align: center;
}

#allUsersContainer table .actions_col {
	width: 160px;
}

#header {
	padding: 4px;
}

#header img {
	vertical-align: middle;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #0d0d0d;
	overflow: hidden;
	padding: 4px;
}

.ui-autocomplete {
	max-height: 330px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.thumb {
	float: left;
	width: 48px;
	margin-right: 4px;
}

.userInfo {
	width: 250px;
	word-wrap: break-word;
}

.userInfo em {
	font-size: 11px;
}