#home .ui-icon {
    background-image: url("../img/glyphish-icons/icons/53-house.png");
}

#play .ui-icon, #play-btn .ui-icon {
    background-image: url("../img/glyphish-icons/icons/130-dice.png");
}

#logout-btn .ui-icon {
    background-image: url("../img/glyphish-icons/icons/logout.png");
}

#rules .ui-icon {
    background-image: url("../img/glyphish-icons/icons/184-warning.png");
}

#about .ui-icon {
    background-image: url("../img/glyphish-icons/icons/123-id-card.png");
}

.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

#navfooter .ui-btn .ui-icon,#play-btn .ui-icon, #logout-btn .ui-icon {
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
    margin-top:-5px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 22px;
}

#rules .ui-icon, #about .ui-icon {
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 20px !important;
    margin-left: 0px !important;
    width: 20px !important;
    margin-top:-12px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 66% 66%;
    background-repeat: no-repeat;
    background-size: 16px 14px;

}

#question .ui-controlgroup-label {
	font-weight: bold;
	font-size: 20px;
    margin-top:10px;
}

form {
	clear : both;
}

#advancement {
	float: left;
}

#elapsed-time {
	float: right;
}

#answer, #welcome, #infos, #infos legend {
	clear:both;
	margin: auto;
	text-align:center;
	width:100%;
}

#openid_btns {
	margin: auto;
	text-align:center;
	max-width:230px;
}

#openid_highlight a {
	border: 2px solid red;	
}

div #openid_highlight {
	padding: 0px;
	float: none;	
}

#answer .imgText {
	font-size:26px;
	font-weight:bold;
}

.wrong {
	color:red;
}

.correct {
	color:green;
}

.ui-content a.ui-btn {
	margin-top:10px;
}

.rightAnswer span {
	font-weight:bold;
	font-style:italic;
}

.delay span {
	font-weight:bold;
}

.ui-header .ui-title {
    color:#8AAB1E;
    font-weight:1000;
    letter-spacing: 0.01em;
    font-size:24px;
}

.ui-mobile .ui-page {
	background:#f7f7f7 url(../img/bg.png) repeat-x;
}

.errorBox {
	margin:auto;
	text-align:center;
    max-width:400px;
    background-color:#75ffb6;
    border-radius: 15px;
    padding:2px 2px 2px 5px;
}

.ui-header #rules {
	top: 0.9em;
}

.ui-header #about {
	top: 0.9em;
}

#rules {
    font-size:8pt;
    text-align: justify;
}

#rules h1 {
    color: #515151;
    text-align: center;
}

#rules h2 {
    color: #8AAB1E;
    font-size:10pt;
}

#rules .soat {
    color: #8AAB1E;
    font-weight: bold;
}