#home .ui-icon {
    background-image: url("/img/glyphish-icons/icons/53-house.png");
}

#play .ui-icon, #play-btn .ui-icon {
    background-image: url("/img/glyphish-icons/icons/130-dice.png");
}

#rules .ui-icon {
    background-image: url("/img/glyphish-icons/icons/184-warning.png");
}

#about .ui-icon {
    background-image: url("/img/glyphish-icons/icons/123-id-card.png");
}



#button,#navfooter .ui-btn .ui-icon {
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
    margin-top:-5px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 22px;
 }

#question .ui-controlgroup-label {
	font-weight: bold;
	font-size: 20px;
    margin-top:10px;
}

form {
	clear : both;
}

#advancement {
	float: left;
}

#elapsed-time {
	float: right;
}