body {
	background:#f7f7f7 url(../img/bg.png) repeat;
	margin:0;
	font-size: 14px;
}

h1 {
	color:#8AAB1E;
	letter-spacing: 0.05em;
	font-size:3.5em;
	font-weight: bold;
	margin-left : 5%;
	margin-top:1%;
	margin-bottom:0;
    float:left;
}

h1 img {
	vertical-align:middle;
	padding-bottom:20px;
	padding-left: 20px;
}


#ranking {
	border: 2px solid #cccccc;
	border-right-style:none;
	border-radius: 20px 0 0 20px;
	margin-left : 70px;
	margin-right:0;
	margin-top:0;
	padding : 20px 0 20px 20px;
    clear:both;
}

table thead {
	display:none;
}

td {
    height: 64px;
}

.odd {
	background-color: rgba(238,238,238,0.5);;
}

#picture {
	width:40px;
    vertical-align: middle;
}

#name {
	color:#8AAB1E;
	letter-spacing: 0.05em;
	font-size:2.5em;
	font-weight: bold;
	padding-left:2%;
	width:80%;
}

#score {
	color:#515151;
	font-weight:800;
	letter-spacing: 0.05em;
	font-size:1.6em;
	text-align:right;
	padding:10px;
}

#time {
	color:#515151;
	font-weight:400;
	letter-spacing: 0.05em;
	font-size:1.5em;
	text-align:right;	
	padding:10px;
}

.devoxx {
    float: right;
    margin-bottom: 0;
    padding-bottom:0;
    margin-top: 0px;
}

.devoxx img {
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}

.cloudbees {
    float: right;
    padding: 0;
}

.coudbees img {
    padding: 0;
    margin: 0;
}